.coverflow__container__1P-xE {
	position: absolute;
	/* box-sizing: border-box */
	top: 0px;
	left: 0px;
	width: 100% !important;
	height: 100% !important;
	background: transparent;
	margin: 0 auto;
	padding: 0;
	overflow-y: visible; 
	overflow-x: hidden; 
}
  
  .coverflow__coverflow__53z9A {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0; }
  
  .coverflow__stage__14oqC {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	margin: 0;
	transform-style: preserve-3d;
	perspective: 500px; }
  
  .coverflow__figure__3bk_C {
	  /* the main item container */
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	flex: 0 0 auto;
	cursor: pointer;
	transition: transform 600ms ease;
	backface-visibility: hidden;
	z-index: 9;
	background-color: #000000d6;
	border-radius: 5px;
	align-self: center;
	box-shadow: 0 50px 70px rgba(0, 0, 0, 0.5); }
  
  .coverflow__cover__25-7e {
	display: block;
	width: 100%;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); }
  
  .coverflow__preloader__28hWj {
	display: hidden; }
  
  .coverflow__text__39hqd {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	/* text-align: center; */
	font-size: 1em;
	color: white;
	border-radius: 5px;
	padding: 5px;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.6); }
  
  .coverflow__actions__1D5QO {
	position: absolute;
	bottom: 30px;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center; }
	.coverflow__actions__1D5QO .coverflow__button__25AqX {
	  border: 1px solid #61616196;
	  border-radius: 2px;
	  min-width: 120px;
	  padding: 5px;
	  margin: 2px;
	  background: #61616196;
	  color: rgba(255, 255, 255, 0.9); }
	  .coverflow__actions__1D5QO .coverflow__button__25AqX:hover {
		background: black;
		color: white; }
	  .coverflow__actions__1D5QO .coverflow__button__25AqX:focus {
		outline: none; }
  
  @keyframes coverflow__prevent__1YT_1 {
	0% {
	  pointer-events: none; }
	100% {
	  pointer-events: auto; } }
  
	  @media(max-width: 600px){
		.coverflow__figure__3bk_C {
			min-width: 150px;
		}
		}
		@media(min-width: 1000px){
			.coverflow__figure__3bk_C {
				max-width: 16vw;
				max-height: 45vh;
			}
			.coverflow__text__39hqd{
				max-width: 16vw;
				max-height: 45vh;
			}
			.coverflow__cover__25-7e{
				max-width: 16vw;
				max-height: 45vh;
			}
			}
		