
    .background1{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 50vw;
        z-index: -1;
        display: none;
        background-image: url("../../assets/img/trianglify\ \(1\).png");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover;
        background-attachment: fixed
    }

    .background2{
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 50vw;
        display: none;
        z-index: -1;
        background-image: url("../../assets/img/trianglify\ \(4\).png");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover;
        background-attachment: fixed
    }

    .background3{
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 50vw;
        display: none;
        z-index: -1;
        background-image: url("../../assets/img/trianglify.png");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover;
        background-attachment: fixed
    }
